service: fotopia-client

frameworkVersion: ">=1.1.0 <2.0.0"

plugins:
  - serverless-s3-sync
  - serverless-s3-remover
  - serverless-cloudfront-invalidate

custom:
  s3Sync:
    - bucketName: ${self:provider.environment.BUCKET_NAME}
      localDir: build
  remover:
    buckets:
      - ${self:provider.environment.BUCKET_NAME}
  cloudfrontInvalidate:
    distributionIdKey: 'FotopiaClientCloudFrontDistributionId'
    items:
      - '/index.html'
provider:
  name: aws
  runtime: nodejs6.10
  region: us-east-1
  environment:
    CUSTOM_DOMAIN: ${file(./serverless.env.yml):${opt:stage, self:provider.stage}.CUSTOM_DOMAIN}
    BUCKET_NAME: ${file(./serverless.env.yml):${opt:stage, self:provider.stage}.BUCKET_NAME}
    HOSTED_ZONE_NAME: ${file(./serverless.env.yml):HOSTED_ZONE_NAME}
    ACM_CERT_ARN: ${file(./serverless.env.yml):${opt:stage, self:provider.stage}.ACM_CERT_ARN}
resources:
  Resources:
    FotopiaClient:
      Type: AWS::S3::Bucket
      DeletionPolicy: Delete
      Properties:
        BucketName: ${self:provider.environment.BUCKET_NAME}
        AccessControl: PublicRead
        WebsiteConfiguration:
           IndexDocument: index.html
           ErrorDocument: index.html
    FotopiaClientS3BucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket:
          Ref: FotopiaClient
        PolicyDocument:
          Statement:
            - Sid: PublicReadGetObject
              Effect: Allow
              Principal: "*"
              Action:
              - s3:GetObject
              Resource:
                Fn::Join: [
                  "", [
                    "arn:aws:s3:::",
                    {
                      "Ref": "FotopiaClient"
                    },
                    "/*"
                  ]
                ]
    FotopiaClientCloudFrontDistribution:
      Type: AWS::CloudFront::Distribution
      Properties:
        DistributionConfig:
          Aliases:
            - ${self:provider.environment.CUSTOM_DOMAIN}
          Origins:
            - DomainName: ${self:provider.environment.BUCKET_NAME}.s3.amazonaws.com
              Id: FotopiaClient
              CustomOriginConfig:
                HTTPPort: 80
                HTTPSPort: 443
                OriginProtocolPolicy: https-only
          Enabled: 'true'
          DefaultRootObject: index.html
          CustomErrorResponses:
            - ErrorCode: 404
              ResponseCode: 200
              ResponsePagePath: /index.html
          DefaultCacheBehavior:
            AllowedMethods:
              - DELETE
              - GET
              - HEAD
              - OPTIONS
              - PATCH
              - POST
              - PUT
            TargetOriginId: FotopiaClient
            ForwardedValues:
              QueryString: 'false'
              Cookies:
                Forward: none
            ViewerProtocolPolicy: redirect-to-https
          ViewerCertificate:
            AcmCertificateArn: ${self:provider.environment.ACM_CERT_ARN}
            SslSupportMethod: sni-only
    DnsRecord:
      Type: "AWS::Route53::RecordSet"
      Properties:
        AliasTarget:
          DNSName:
            Fn::GetAtt: [ FotopiaClientCloudFrontDistribution, DomainName ]
          HostedZoneId: 'Z2FDTNDATAQYW2' # cloudfront specific
        HostedZoneName: ${self:provider.environment.HOSTED_ZONE_NAME}
        Name: ${self:provider.environment.CUSTOM_DOMAIN}.
        Type: 'A'
  Outputs:
    FotopiaClientCloudFrontDistributionOutput:
      Value:
        'Fn::GetAtt': [ FotopiaClientCloudFrontDistribution, DomainName ]
    FotopiaClientCloudFrontDistributionId:
      Description: FotopiaClientCloudFrontDistribution distribution id.
      Value:
        Ref: FotopiaClientCloudFrontDistribution
