.detail-container{
  position:fixed;
  height:100%;
}
.detail-container > div, .react-swipeable-view-container{
  height:100%;
}

.react-swipeable-view-container{
  align-items: center;
}
/*
.detail-container{
  display: grid;
  position:fixed;
  height:100%;
  background-color: #000;
}
.detail-container > div{
  margin:auto;
}
.detail-container > div > div > div{
  display: grid;
}
.detail-image {
  margin:auto;
}
.detail-image > .img-responsive{
  max-width:100%;
  max-height:100%;
  height:auto;
  width:auto;
}*/
