.search-tile-wrapper{
  positon:relative;
}
.search-tile:hover {
  cursor: pointer;
}
.search-tile-cb{
  position:absolute;
  top:5px;
  left:5px;
}
.search-tile-count{
  position:absolute;
  top:5px;
  right:5px;
}
