.filter-tools {
  padding: 2.5vh;
}
.filter-tools .panel {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 2000;
  overflow: scroll;
  margin:5vh;
}

@media (orientation: portrait) {
  .filter-tools .panel {
    margin:20vh 5vh;
  }
}
.search-header-open--toolbar{
  margin-bottom:1em;
}
